<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <!-- Header -->
    <header>
        <%- include('partials/header'); %>
    </header>

    <div class="container">
        <h3 class="title-centered">ERROR!!!</h3>

        <p>Algo salió mal, no fue posible hacer el registro.</p>
        <a href="javascript:history.back()">Regresar a la página anterior</a>
    </div>

    <footer>
        <%- include('partials/footer'); %>
    </footer>

    <%- include('partials/scripts'); %>
</body>
</html>