<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <!-- Header -->
    <header>
        <%- include('partials/header'); %>
    </header>

    <div class="container">
        <h3 class="title-centered">Crear Nuevo Empleado</h3>

        <form method="POST" action="/addNuevoEmpleado">
            <div class="mb-3">
                <label for="numEmpleado"><b>Número de Empleado: </b></label>
                <input type="text" class="form-control" name="numEmpleado" id="numEmpleado">
            </div>
            <div class="mb-3">
                <label for="nombreEmp"><b>Nombre(s): </b></label>
                <input type="text" class="form-control" name="nombreEmp" id="nombreEmp">
            </div>
            <div class="mb-3">
                <label for="apellidoEmp"><b>Apellido(s): </b></label>
                <input type="text" class="form-control" name="apellidoEmp" id="apellidoEmp">
            </div>
            <div class="mb-3">
                <label for="idRol"><b>Rol Asignado: </b></label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="idRol" id="rolChofer" value="1" checked>
                    <label class="form-check-label" for="rolChofer">1- Chofer</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="idRol" id="rolCargador" value="2">
                    <label class="form-check-label" for="rolCargador">2- Cargador</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="idRol" id="rolAuxiliar" value="3">
                    <label class="form-check-label" for="rolAuxiliar">3- Auxiliar</label>
                </div>
            </div>
            <button type="reset" class="btn btn-danger">Limpiar Formulario</button>
            <button type="submit" class="btn btn-primary">Registrar Nuevo Empleado</button>
        </form>
    </div>

    <footer>
        <%- include('partials/footer'); %>
    </footer>

    <%- include('partials/scripts'); %>
</body>
</html>