<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <!-- Header -->
    <header>
        <%- include('partials/header'); %>
    </header>

    <div class="container">
        <h3 class="title-centered">Registro Exitoso!!!</h3>

        <p>El registro fue almacenado de forma satisfactoria.</p>
        <a href="/">Regresar al Inicio</a>
    </div>

    <footer>
        <%- include('partials/footer'); %>
    </footer>

    <%- include('partials/scripts'); %>
</body>
</html>